Albert Einstein - Caricatures gracefully obtained from
<a target="_blank" href="https://flic.kr/p/khz3Bo">https://flic.kr/p/khz3Bo</a>
and
<a target="_blank" href="https://flic.kr/p/khxhnH">https://flic.kr/p/khxhnH</a>,
made by <a target="_blank" href="https://www.flickr.com/photos/donkeyhotey/">DonkeyHotey</a>
under <a target="_blank" href="https://creativecommons.org/licenses/by/2.0/">Creative Commons attribution</a>. Thank you!

<!--[url=https://flic.kr/p/khz3Bo][img]https://farm4.staticflickr.com/3735/12658290004_fea155b929_o.jpg[/img][/url][url=https://flic.kr/p/khz3Bo]Albert Einstein - Caricature[/url] by [url=https://www.flickr.com/photos/donkeyhotey/]DonkeyHotey[/url], on Flickr-->
<!--[url=https://flic.kr/p/khxhnH][img]https://farm4.staticflickr.com/3726/12657946083_d667b504f2_o.jpg[/img][/url][url=https://flic.kr/p/khxhnH]Albert Einstein - Caricature[/url] by [url=https://www.flickr.com/photos/donkeyhotey/]DonkeyHotey[/url], on Flickr-->
