<h2>About the project</h2>

<p>
  Project for the course
  <a target="_blank" href="http://www.fi.muni.cz/~xpelanek/PV254/">PV254 Recommender Systems</a>.
  Web application for recommending quotes.
</p>

<hr>

<h3>Quotes source</h3>

<p>
  Database of quotes retrieved from <a target="_blank" href="https://www.brainyquote.com/">BrainyQuote</a>, the web's largest and most user-friendly quotation site.
</p>

<hr>

<h3>Photos credit</h3>

<p>
  Albert Einstein - Caricatures gracefully obtained from
  <a target="_blank" href="https://flic.kr/p/khz3Bo">https://flic.kr/p/khz3Bo</a>
  and
  <a target="_blank" href="https://flic.kr/p/khxhnH">https://flic.kr/p/khxhnH</a>,
  made by <a target="_blank" href="https://www.flickr.com/photos/donkeyhotey/">DonkeyHotey</a>
  under <a target="_blank" href="https://creativecommons.org/licenses/by/2.0/">Creative Commons attribution</a>. Thank you!
</p>

<!--[url=https://flic.kr/p/khz3Bo][img]https://farm4.staticflickr.com/3735/12658290004_fea155b929_o.jpg[/img][/url][url=https://flic.kr/p/khz3Bo]Albert Einstein - Caricature[/url] by [url=https://www.flickr.com/photos/donkeyhotey/]DonkeyHotey[/url], on Flickr-->
<!--[url=https://flic.kr/p/khxhnH][img]https://farm4.staticflickr.com/3726/12657946083_d667b504f2_o.jpg[/img][/url][url=https://flic.kr/p/khxhnH]Albert Einstein - Caricature[/url] by [url=https://www.flickr.com/photos/donkeyhotey/]DonkeyHotey[/url], on Flickr-->

<hr>

<h3>Authors</h3>

<ul>
  <li>Vojtěch Hlávka</li>
  <li>Dávid Lupták</li>
  <li>Martin Styk</li>
</ul>

<hr>

<h3>Source code</h3>

<p>
  The source code is available at:
</p>

<a target="_blank" href="https://github.com/MartinStyk/quotes-recommender" class='btn btn-lg btn-social btn-github'>
  <span class="fa fa-github"></span>Quotes Recommender
</a>

<br>
