<%= link_to 'Generate a random quote!', root_path, class: 'btn btn-outline-info' %>

<p></p>

<div class="card">
  <div class="card-header">
    <%= @quote.categories.map {|cat| cat.name}.join(', ') if @quote %>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= @quote.text if @quote %></p>
      <footer class="blockquote-footer">
        <cite title="Source Title"><%= @quote.author if @quote %></cite>
      </footer>
    </blockquote>
  </div>
</div>
