<h2 class="text-center">Select an initial quote category</h2>
<br>
<div class="container">
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-sm-3 panel">
        <%= button_to home_index_path, method: :get, params: {category: category.id}, class: 'category_btn' do %>
          <div class="tile btn-outline-info">
            <h3 class="title"><%= category.name %></h3>
            <p><%= pluralize(category.quotes.size, 'quote') %> in this category </p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
