/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'bootstrap';
@import 'bootstrap-social';
@import 'font-awesome';
@import 'login';

body {
  // HACK: top nav bar blocking top content of the page
  padding-top: 65px;
}
$color_bootstra_blue: #5bc0de;

// colors from http://www.creepyed.com/2012/09/windows-8-colors-hex-code/

.category_btn {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.tile {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  margin-bottom: 30px;
  border: 2px solid $color_bootstra_blue;
  border-radius: 5px;
}
