<%# add navigation links to this file %>
<li>
  <a class="nav-link" href=<%= quotes_path %>>Quotes</a>
</li>
<li>
  <a class="nav-link" href=<%= viewed_quotes_path %>>Viewed Quotes</a>
</li>
<% if user_signed_in? %>
  <% if current_user.has_role? :admin %>
    <li>
      <a class="nav-link" href=<%= categories_path %>>Categories</a>
    </li>
  <% end %>
<% end %>
