<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href=<%= root_path %>>Quotes Recommender</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <%= render 'layouts/navigation_links' %>
    </ul>
    <ul class="navbar-nav ml-auto" %>
      <%= render 'layouts/nav_links_for_auth' %>
    </ul>
  </div>
</nav>
